body, html {
height: 100%;
margin: 0;
padding: 0;
}

body {
font-size: 11px;
font-family: verdana;
color: #000000;
}

strong, em, a {
color: #000;
}

hr {
border: none;
border-top: dashed 1px;
color: #000;
height: 1px;
}

a {
text-decoration: none;
font-weight: bold;
}

a:hover {
text-decoration: none;
font-weight: bold;
}

ul {
list-style-type: square;
padding: 0 15px 0 30px;
}

p {
padding: 0 5px 0 5px;
}

.title {
font-size: 25px;
width: 100%;
background-color: #FF7400;
font-family: georgia;
text-align: center;
position: fixed;
padding: 5px 0;
top: 0;
left: 0;
}

.desc {
position: fixed;
top: 39px;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

#one {
background: #ffffff url('http://static.tumblr.com/mpxaxgc/6PImgfqxs/onebg.png') bottom left no-repeat;
height: 100%;
}

#two {
background: #FFB273 url('http://static.tumblr.com/mpxaxgc/4Hqmgfsca/twobg.png') bottom left no-repeat;
height: 100%;
}

#three {
background: #FF9640 url('http://static.tumblr.com/mpxaxgc/n3dmgfsp6/threebg.png') bottom left no-repeat;
height: 100%;
}

#four {
background: #BF7130 url('http://static.tumblr.com/mpxaxgc/1OAmgfst3/fourbg.png') bottom left no-repeat;
height: 100%;
}
