body {
  font-size: 11px;
  font-family: verdana;
  color: #000;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  padding: 0 5px;
}

hr {
  border: none;
  border-top: dashed 1px;
  color: #000;
  height: 1px;
}

ul {
  list-style-type: square;
  padding: 0 15px 0 30px;
}

a, a:hover {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.title {
  font-size: 25px;
  width: 100%;
  background-color: #FF7400;
  font-family: Georgia;
  text-align: center;
  text-transform: uppercase;
}

.desc {
  clear: both;
  width: 100%;
  height: 100%;
}

#one {
  background: #fff url('http://static.tumblr.com/mpxaxgc/6PImgfqxs/onebg.png') bottom left no-repeat;
  height: 100%;
}

#two {
  background: #FFB273 url('http://static.tumblr.com/mpxaxgc/4Hqmgfsca/twobg.png') bottom left no-repeat;
  height: 100%;
}

#three {
  background: #FF9640 url('http://static.tumblr.com/mpxaxgc/n3dmgfsp6/threebg.png') bottom left no-repeat;
  height: 100%;
}

#four {
  background: #BF7130 url('http://static.tumblr.com/mpxaxgc/1OAmgfst3/fourbg.png') bottom left no-repeat;
  height: 100%;
}
